/*======================================
    Faq CSS
========================================*/
.accordion .accordion-item:last-of-type{
    border-bottom: 1px solid #000;
}
.accordion .accordion-item:first-of-type{
    border-top: 1px solid #000;
}
.accordion-item .accordion-button {
    border-radius: 5px;
    font-size: 18px;
    font-weight: 800;
    width: 100%;
    display: block;
    overflow: hidden;
    border: none;
    border-top: 1px solid #eee;
    padding: 2rem;
    text-align: left;
    line-height: 1.5;
}

.accordion-item .accordion-button span {
    float: left;
}

.accordion-item .accordion-button i {
    float: right;
    font-size: 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.accordion-button:not(.collapsed) {
    color: #000;
    background-color: transparent;
    /* border-color: transparent; */
    border-radius: 0;
}

.accordion-button:not(.collapsed) i {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}

.accordion-button::after {
    display: none;
}

.accordion-button:focus{
    box-shadow: none;
}

.accordion-collapse {
    border: none;
}

.accordion-body {
    border: none;
    padding: 0rem 2rem 2rem;
}

.accordion-body p {
    margin: 0;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 200;
}

.accordion-body p:last-child {
    margin: 0;
}

/* .accordion-item {
    margin-bottom: 20px;
} */