<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.groupware.color.dao.ColorMapper">
	<select id="selectColorList" resultType="ColorVO">
		SELECT
		    COR_NO
		  , COR_NM
		  , COR_HSLA
		FROM
    		COLOR
	
	</select>
	<select id="selectColor" parameterType="java.lang.Integer" resultType="ColorVO">
		SELECT
		    COR_NO
		  , COR_NM
		  , COR_HSLA
		FROM
    		COLOR
    	WHERE COR_NO = #{corNo}
	
	</select>
</mapper>