<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.groupware.comdcmForm.dao.ComdcmFormMapper">
  <resultMap id="BaseResultMap" type="kr.or.ddit.vo.ComdcmFormVO">
    <id column="DCM_FORM_NO" jdbcType="NUMERIC" property="dcmFormNo" />
    <result column="DCM_CTG_NO" jdbcType="VARCHAR" property="dcmCtgNo" />
    <result column="DCM_FORM_NM" jdbcType="VARCHAR" property="dcmFormNm" />
    <result column="DCM_FORM_CODE" jdbcType="VARCHAR" property="dcmFormCode" />
    <result column="DCM_FORM_TITLE" jdbcType="VARCHAR" property="dcmFormTitle" />
    <result column="DCM_FORM_FILES_YN" jdbcType="VARCHAR" property="dcmFormFilesYn" />
    <result column="DCM_FORM_CNT" jdbcType="CLOB" property="dcmFormCnt" />
    <association property="category" javaType="DcmCtgVO" autoMapping="true"/>
  </resultMap>
  <delete id="deleteComdcmForm" parameterType="int">
    delete from COMDCM_FORM
    where DCM_FORM_NO = #{dcmFormNo,jdbcType=NUMERIC}
  </delete>
  <insert id="insertComdcmForm" parameterType="kr.or.ddit.vo.ComdcmFormVO">
    insert into COMDCM_FORM (DCM_FORM_NO, DCM_CTG_NO, DCM_FORM_NM, 
      DCM_FORM_CODE, DCM_FORM_TITLE, DCM_FORM_FILES_YN, 
      DCM_FORM_CNT)
    values (#{dcmFormNo,jdbcType=NUMERIC}, #{dcmCtgNo,jdbcType=NUMERIC}, #{dcmFormNm,jdbcType=VARCHAR}, 
      #{dcmFormCode,jdbcType=VARCHAR}, #{dcmFormTitle,jdbcType=VARCHAR}, #{dcmFormFilesYn,jdbcType=VARCHAR}, 
      #{dcmFormCnt,jdbcType=CLOB})
  </insert>
  <update id="updateComdcmForm" parameterType="kr.or.ddit.vo.ComdcmFormVO">
    update COMDCM_FORM
    set DCM_CTG_NO = #{dcmCtgNo,jdbcType=NUMERIC},
      DCM_FORM_NM = #{dcmFormNm,jdbcType=VARCHAR},
      DCM_FORM_CODE = #{dcmFormCode,jdbcType=VARCHAR},
      DCM_FORM_TITLE = #{dcmFormTitle,jdbcType=VARCHAR},
      DCM_FORM_FILES_YN = #{dcmFormFilesYn,jdbcType=VARCHAR},
      DCM_FORM_CNT = #{dcmFormCnt,jdbcType=CLOB}
    where DCM_FORM_NO = #{dcmFormNo,jdbcType=NUMERIC}
  </update>
  <select id="selectComdcmForm" parameterType="string" resultMap="BaseResultMap">
    select 
    DCM_CTG_NO
	, DCM_FORM_NM
	, DCM_FORM_CODE
	, DCM_FORM_TITLE
	, DCM_FORM_CNT
	, DCM_FORM_FILES_YN
    from COMDCM_FORM
    where DCM_FORM_CODE = #{dcmFormCode,jdbcType=VARCHAR}
  </select>
  <select id="selectComdcmFormAll" resultMap="BaseResultMap">
    select 
    COMDCM_FORM.DCM_CTG_NO
	, COMDCM_FORM.DCM_FORM_NM
	, COMDCM_FORM.DCM_FORM_CODE
	, COMDCM_FORM.DCM_FORM_TITLE
	, COMDCM_FORM.DCM_FORM_CNT
	, COMDCM_FORM.DCM_FORM_FILES_YN
    , dcm_ctg.DCM_CTG_NM
    from COMDCM_FORM 
    join dcm_ctg on  dcm_ctg.DCM_CTG_NO = COMDCM_FORM.DCM_CTG_NO
    
  </select>
</mapper>