<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.commons.commonsCode.dao.CommoncodeDetailMapper">
  <resultMap id="BaseResultMap" type="kr.or.ddit.vo.def.CommoncodeDetailDefaultVO">
    <id column="CONMCD_NO" jdbcType="VARCHAR" property="conmcdNo" />
    <id column="CONMC_NO" jdbcType="VARCHAR" property="conmcNo" />
    <result column="CONMCD_CODE" jdbcType="VARCHAR" property="conmcdCode" />
    <result column="CONMCD_CON" jdbcType="VARCHAR" property="conmcdCon" />
    <result column="CONMCD_DATE" jdbcType="TIMESTAMP" property="conmcdDate" />
    <result column="CONMCD_DELYN" jdbcType="VARCHAR" property="conmcdDelyn" />
  </resultMap>
  <select id="selectSelectAll" parameterType="string" resultMap="BaseResultMap">
    select 
    	CONMCD_NO
    	, CONMC_NO
    	, CONMCD_CODE
    	, CONMCD_CON
    	, CONMCD_DATE
    	, CONMCD_DELYN
    from COMMONCODE_DETAIL
    where CONMC_NO LIKE #{conmcNo,jdbcType=VARCHAR}
    and CONMCD_DELYN = 'Y'
  </select>
</mapper>