<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.early.mapper.EarlyAdminMapper">
  <resultMap id="EarlyAdminVo" type="EarlyAdminVO">
    <id column="EARLY_ADMIN_NO" jdbcType="NUMERIC" property="earlyAdminNo" />
    <result column="EARLY_NO" jdbcType="NUMERIC" property="earlyNo" />
    <result column="EARLY_YN" jdbcType="VARCHAR" property="earlyYn" />
  </resultMap>
  <insert id="insertEarlyAdmin" parameterType="EarlyAdminVO">
    insert into EARLY_ADMIN (EARLY_ADMIN_NO, EARLY_NO, EARLY_YN
      )
    values (#{earlyAdminNo,jdbcType=NUMERIC}, #{earlyNo,jdbcType=NUMERIC}, #{earlyYn,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateEarlyAdmin" parameterType="EarlyAdminVO">
    update EARLY_ADMIN
    set EARLY_NO = #{earlyNo,jdbcType=NUMERIC},
      EARLY_YN = #{earlyYn,jdbcType=VARCHAR}
    where EARLY_ADMIN_NO = #{earlyAdminNo,jdbcType=NUMERIC}
  </update>
  <select id="selectEarlyAdmin"  resultMap="EarlyAdminVo">
    select EARLY_ADMIN_NO, EARLY_NO, EARLY_YN
    from EARLY_ADMIN
    where EARLY_ADMIN_NO = #{earlyAdminNo,jdbcType=NUMERIC}
  </select>
  <select id="selectEarlyAdminList" resultMap="EarlyAdminVo">
    select EARLY_ADMIN_NO, EARLY_NO, EARLY_YN
    from EARLY_ADMIN
  </select>
  <delete id="deleteEarlyAdmin" parameterType="EarlyVO">
    delete from EARLY_ADMIN
    where EARLY_ADMIN_NO = #{earlyAdminNo,jdbcType=NUMERIC}
  </delete>
</mapper>