<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="kr.or.ddit.groupware.todolist.dao.TodoListCateGoryMapper">
		<resultMap id="todoList" type="kr.or.ddit.vo.TodoListCateGoryVO" autoMapping="true">
		<id column="TODOCATE_NO" jdbcType="NUMERIC" property="todocateNo" />
		<id column="EMP_NO" jdbcType="NUMERIC" property="empNo" />
		<collection property="todoList" ofType="kr.or.ddit.vo.TodoListVO" autoMapping="true"></collection>
	</resultMap>


	<select id="selectTodoCateList">
		select TODOCATE_NO, EMP_NO, TODOCATE_TITLE, TODOCATE_DATE, TODOCATE_DELYN
	    from TODOLIST_CATEGORY

	</select>

	<select id="selectTodoCate">
		select TODOCATE_NO, EMP_NO, TODOCATE_TITLE, TODOCATE_DATE, TODOCATE_DELYN
	    from TODOLIST_CATEGORY
	    where TODOCATE_NO = #{todocateNo,jdbcType=NUMERIC}
	    AND TODOCATE_DELYN = 'N'

	</select>

	<select id="selectEmpTodoCateList" parameterType="int">
		select TODOCATE_NO
			, EMP_NO
			, TODOCATE_TITLE
			, TODOCATE_DATE
			, TODOCATE_DELYN
	    from TODOLIST_CATEGORY
	    where EMP_NO = #{empNo}
        AND TODOCATE_DELYN = 'N'

	</select>



	<insert id="insertTodoCate" parameterType="kr.or.ddit.vo.TodoListCateGoryVO">
	<selectKey order="BEFORE" resultType="int"
			keyProperty="todocateNo">
			SELECT TODOCATE_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		insert into TODOLIST_CATEGORY (
		TODOCATE_NO
			, EMP_NO
			, TODOCATE_TITLE
			, TODOCATE_DATE
			, TODOCATE_DELYN
			)
	    values (#{todocateNo,jdbcType=NUMERIC}
	    , #{empNo,jdbcType=NUMERIC}
	    , #{todocateTitle,jdbcType=VARCHAR}
	    , SYSDATE
	    , 'N'
	    )

	</insert>

	
	<update id="updateTodoCate" parameterType="TodoListCateGoryVO">
	 update TODOLIST_CATEGORY
	    set EMP_NO = #{empNo,jdbcType=NUMERIC},
	      TODOCATE_TITLE = #{todocateTitle,jdbcType=VARCHAR},
	      TODOCATE_DATE = #{todocateDate,jdbcType=VARCHAR},
	      TODOCATE_DELYN = 'N'
	    where TODOCATE_NO = #{todocateNo,jdbcType=NUMERIC}
	</update>

	<update id="deleteTodoCate">
		UPDATE TODOLIST_CATEGORY
		SET TODOCATE_DELYN = 'Y'
		WHERE TODOCATE_NO = #{todocateNo,jdbcType=NUMERIC}
	</update>


</mapper>