<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.commons.def.mapper.MsglogDefaultMapper">
  <resultMap id="BaseResultMap" type="kr.or.ddit.vo.def.MsglogDefaultVO">
    <id column="MSGLOG_NO" jdbcType="NUMERIC" property="msglogNo" />
    <id column="MSGRM_NO" jdbcType="NUMERIC" property="msgrmNo" />
    <result column="MSGLOG_CONTENT" jdbcType="VARCHAR" property="msglogContent" />
    <result column="MSGLOG_WTDATE" jdbcType="TIMESTAMP" property="msglogWtdate" />
    <result column="MSGLOG_ATT_NO" jdbcType="NUMERIC" property="msglogAttNo" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from MSGLOG
    where MSGLOG_NO = #{msglogNo,jdbcType=NUMERIC}
      and MSGRM_NO = #{msgrmNo,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="kr.or.ddit.vo.def.MsglogDefaultVO">
    insert into MSGLOG (MSGLOG_NO, MSGRM_NO, MSGLOG_CONTENT, 
      MSGLOG_WTDATE, MSGLOG_ATT_NO)
    values (#{msglogNo,jdbcType=NUMERIC}, #{msgrmNo,jdbcType=NUMERIC}, #{msglogContent,jdbcType=VARCHAR}, 
      #{msglogWtdate,jdbcType=TIMESTAMP}, #{msglogAttNo,jdbcType=NUMERIC})
  </insert>
  <update id="updateByPrimaryKey" parameterType="kr.or.ddit.vo.def.MsglogDefaultVO">
    update MSGLOG
    set MSGLOG_CONTENT = #{msglogContent,jdbcType=VARCHAR},
      MSGLOG_WTDATE = #{msglogWtdate,jdbcType=TIMESTAMP},
      MSGLOG_ATT_NO = #{msglogAttNo,jdbcType=NUMERIC}
    where MSGLOG_NO = #{msglogNo,jdbcType=NUMERIC}
      and MSGRM_NO = #{msgrmNo,jdbcType=NUMERIC}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select MSGLOG_NO, MSGRM_NO, MSGLOG_CONTENT, MSGLOG_WTDATE, MSGLOG_ATT_NO
    from MSGLOG
    where MSGLOG_NO = #{msglogNo,jdbcType=NUMERIC}
      and MSGRM_NO = #{msgrmNo,jdbcType=NUMERIC}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select MSGLOG_NO, MSGRM_NO, MSGLOG_CONTENT, MSGLOG_WTDATE, MSGLOG_ATT_NO
    from MSGLOG
  </select>
</mapper>